flows.json
[{"id":"e4184d8f0d35d1a2","type":"tab","label":"pro","disabled":false,"info":"","env":[]},{"id":"a79ef6be6a7fb60b","type":"uibuilder","z":"e4184d8f0d35d1a2","name":"","topic":"","url":"pro","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"templateFolder":"blank","extTemplate":"","showfolder":false,"reload":false,"sourceFolder":"src","deployedVersion":"5.0.1","x":330,"y":980,"wires":[["ab5c2a2da29c8df5"],[]]},{"id":"30ad7d2320b3ed2e","type":"link in","z":"e4184d8f0d35d1a2","name":"in_pro","links":["ec9a940cdca6d30c","ceea9b90413a2dd7","13303911a522a080","1026b164fd4fdb85","325ad3dab26910b4","e5b4be5fc1b23023","7acc9824b8a14d78","e0cb8f9aa542387f","1b3b422e821f211a","1929d3de9076a596","59893a2c98c44bf1","3491e3c49c038fb4","409b0c49c072f980","1a48bc82198c4577","e9e623e2dbb6d17b","a4f3f4a4b8e2685f","c822142c8eb82dad","ebf70c0819d9f23f","46860bd83a959c57","a2dbbc4ded302ab4","bd92ec797f3eed3c","be9b40699c385988","007e484eaaa198ed","528ff92707de2031","d56c489ae3a10904","456226a1496fe016","1a76956aa9fc747b","2015c110b8bddd6b","0a91c2bc2fd7f284","6aac1e18358d4e2c","13f77ea9a13d5f54","9224a28a5401bbfb","e7d69605420da2be","8267559fb8a47dad","47e8fcbe705d986c","284aba89cf587609","d20f35634ab55497","afc480a341be2a52","1acfc3740d47cf58"],"x":205,"y":980,"wires":[["a79ef6be6a7fb60b"]]},{"id":"24bccb0f6c8cbdc5","type":"link in","z":"e4184d8f0d35d1a2","name":"in_app","links":["14a7d8804ae1d1e9","246fd4988bb7e2e4","2907157baed89e58","9e7378e25f9b0229","acf4f32295c73292","b1017aa70dad92b0","f6065408675bccac","b16f7727c6be1653","c68240660124a80e","c605a33c69394361","a00c4bf8313a110e","2af7380fa6419446","9936773304590fd8","a81b659ae7a35e61","52cf2f144f886dca","3e9a5390db1be664","d1a7a66afc6d1a88","a613c66326157d97","8b23b7066b1e66f5","d1e9f576d7170ba0","0a789518eea47699","c0db3e08b06f96b6","5b23b9b603010d3b","0b6994191c2b2d6c","495062856cd928a1","3aa93b74e87b6f10","e414db521db8a0cb","afd38f57df688226"],"x":1825,"y":420,"wires":[["078c901aa2ca3cd1"]]},{"id":"9e7378e25f9b0229","type":"link out","z":"e4184d8f0d35d1a2","name":"remove_element_id_app_in","mode":"link","links":["24bccb0f6c8cbdc5"],"x":1155,"y":680,"wires":[]},{"id":"c38f6b942b19be15","type":"function","z":"e4184d8f0d35d1a2","name":"remove_element_id","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": topic,\n    \"element_id\": msg.element_id,\n    \"element_id_selected\": msg.element_id_selected\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":680,"wires":[["9e7378e25f9b0229"]]},{"id":"f8e609ab1bde9a82","type":"switch","z":"e4184d8f0d35d1a2","name":"app_worker","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"get_routes_js","vt":"str"},{"t":"eq","v":"set_filename","vt":"str"},{"t":"eq","v":"set_page_data_name","vt":"str"},{"t":"eq","v":"set_page_id","vt":"str"},{"t":"eq","v":"get_page_data_name","vt":"str"},{"t":"eq","v":"get_page_id","vt":"str"},{"t":"eq","v":"set_element_id","vt":"str"},{"t":"eq","v":"get_page_elements","vt":"str"},{"t":"eq","v":"update_element_id","vt":"str"},{"t":"eq","v":"update_page_data_name","vt":"str"},{"t":"eq","v":"remove_element_id","vt":"str"},{"t":"eq","v":"add_element_component","vt":"str"},{"t":"eq","v":"page_create","vt":"str"},{"t":"eq","v":"get_element_class","vt":"str"},{"t":"eq","v":"class_remove","vt":"str"},{"t":"eq","v":"class_add","vt":"str"},{"t":"eq","v":"get_element_style","vt":"str"},{"t":"eq","v":"update_element_style","vt":"str"}],"checkall":"true","repair":false,"outputs":18,"x":730,"y":2340,"wires":[["374df0327405e5e0"],["fae8e8aa0abcfc57"],["9bbcb85179bc0772"],["f35fd8ce5f04a4d5"],["d41ea571df0a9d42"],["74064c3454da6f74"],["3fd02276f22815ac"],["c8567a7eeebda121"],["5caa9d262ef87dfd"],["a74c4179c9e692bb"],["e740ec2532a3434a"],["c493c6df62a1b4f0"],["3e2925d2fa843b23"],["524db0c6ddec7a01"],["74ccc400fd138a89"],["e191170ace5ab1d4"],["98257878fc864243"],["2cbdc09050ba1346"]]},{"id":"e3679c59441f138c","type":"link in","z":"e4184d8f0d35d1a2","name":"in_app_worker","links":["08b15eed0b3693bc","74e6dc7c8c5ad321","778616ebf2adcbe4","45bfc5e78c9ac616"],"x":595,"y":2340,"wires":[["f8e609ab1bde9a82"]]},{"id":"374df0327405e5e0","type":"function","z":"e4184d8f0d35d1a2","name":"filename","func":"msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/js/routes.js\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":1900,"wires":[["d4b397b820ca3766"]]},{"id":"d4b397b820ca3766","type":"file in","z":"e4184d8f0d35d1a2","name":"routes.js","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1140,"y":1900,"wires":[["790d1a6771888a1e"]]},{"id":"790d1a6771888a1e","type":"function","z":"e4184d8f0d35d1a2","name":"routes","func":"var data = msg.payload;\nvar data_clean_1 = data.replace('var routes', '');\nvar data_clean_2 = data_clean_1.replace('=', '');\nvar data_clean_3 = data_clean_2.replace(';', '');\nvar data_clean_4 = data_clean_3.replace(/url/g, '\"url\"');\nvar data_clean_5 = data_clean_4.replace(/path/g, '\"path\"');\nvar data_clean_6 = data_clean_5.replace(/'/g, '\"');\n\nmsg.payload = data_clean_6;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":1900,"wires":[["73842b0b9906d184"]]},{"id":"73842b0b9906d184","type":"json","z":"e4184d8f0d35d1a2","name":"","property":"payload","action":"","pretty":false,"x":1430,"y":1900,"wires":[["573e2ce3ef5974e7"]]},{"id":"573e2ce3ef5974e7","type":"function","z":"e4184d8f0d35d1a2","name":"topic","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"payload\": msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1570,"y":1900,"wires":[["1a48bc82198c4577"]]},{"id":"1a48bc82198c4577","type":"link out","z":"e4184d8f0d35d1a2","name":"get_routes_js","mode":"link","links":["30ad7d2320b3ed2e"],"x":1675,"y":1900,"wires":[]},{"id":"e387dc3776363fe1","type":"switch","z":"e4184d8f0d35d1a2","name":"pro_worker","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"get_ip_address","vt":"str"},{"t":"eq","v":"uibuilder_all","vt":"str"},{"t":"eq","v":"page_navigate","vt":"str"},{"t":"eq","v":"update_element_id","vt":"str"},{"t":"eq","v":"update_page_data_name","vt":"str"},{"t":"eq","v":"set_element_id_choosed","vt":"str"},{"t":"eq","v":"remove_element_id","vt":"str"},{"t":"eq","v":"element_hightlight_id","vt":"str"},{"t":"eq","v":"element_hightlight_id_clear","vt":"str"},{"t":"eq","v":"add_element_component","vt":"str"},{"t":"eq","v":"add_element_component_reload","vt":"str"},{"t":"eq","v":"code_save","vt":"str"},{"t":"eq","v":"page_create","vt":"str"},{"t":"eq","v":"page_remove","vt":"str"},{"t":"eq","v":"get_element_class","vt":"str"},{"t":"eq","v":"class_remove","vt":"str"},{"t":"eq","v":"class_add","vt":"str"},{"t":"eq","v":"get_element_style","vt":"str"},{"t":"eq","v":"update_element_style","vt":"str"},{"t":"eq","v":"set_app_name","vt":"str"},{"t":"eq","v":"get_app_pages","vt":"str"},{"t":"eq","v":"add_new_app","vt":"str"},{"t":"eq","v":"copy_template_blank","vt":"str"}],"checkall":"true","repair":false,"outputs":23,"x":710,"y":980,"wires":[["b6bb421a376c3fb4"],["ea2ae3532edbaff3"],["7b30115e577ebf7b"],["abb6a62b82ddc9ac"],["0ffd2d9576fa1893"],["ccd3ff1524f8bfc0"],["c38f6b942b19be15"],["4d29d098d99eb512"],["c12c74fb621e5f27"],["3e1d7e8cb59d3eac"],["403eabc868385ab3"],["5d7c598dc755edbc"],["83a2cdd3f73e91c1"],["6eb0af37eea16af5"],["3a3cbd98a2892376"],["a29c5b6b34ffb12f"],["a6b1accabce7b73e"],["a521d47579574318"],["f871ab7dc093f2e4"],["96c8da8dc425aa8c"],["e88f400e54831007"],["6cc8d5d952fb5a19"],["d4706228ed5d5436"]]},{"id":"b4c8f4dac161894b","type":"link in","z":"e4184d8f0d35d1a2","name":"in_pro_worker","links":["ab5c2a2da29c8df5"],"x":575,"y":980,"wires":[["e387dc3776363fe1"]]},{"id":"ab5c2a2da29c8df5","type":"link out","z":"e4184d8f0d35d1a2","name":"out_pro","mode":"link","links":["b4c8f4dac161894b"],"x":455,"y":980,"wires":[]},{"id":"7b30115e577ebf7b","type":"function","z":"e4184d8f0d35d1a2","name":"page_navigate","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"payload\": msg.payload //path to load\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":440,"wires":[["2af7380fa6419446"]]},{"id":"2af7380fa6419446","type":"link out","z":"e4184d8f0d35d1a2","name":"page_navigate_app_in","mode":"link","links":["24bccb0f6c8cbdc5"],"x":1135,"y":440,"wires":[]},{"id":"9bbcb85179bc0772","type":"function","z":"e4184d8f0d35d1a2","name":"filename","func":"var filename = global.get('pro7_filename');\nif(filename === \"index.html\"){\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/\" + filename ;\n    return msg;\n}else{\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/pages/\" + filename ;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":2020,"wires":[["e74f79629e614cff"]]},{"id":"e74f79629e614cff","type":"file","z":"e4184d8f0d35d1a2","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1140,"y":2020,"wires":[["e9e623e2dbb6d17b"]]},{"id":"e9e623e2dbb6d17b","type":"link out","z":"e4184d8f0d35d1a2","name":"set_page_data_name","mode":"link","links":["30ad7d2320b3ed2e"],"x":1255,"y":2020,"wires":[]},{"id":"fae8e8aa0abcfc57","type":"function","z":"e4184d8f0d35d1a2","name":"filename","func":"global.set('pro7_filename', msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":1960,"wires":[[]]},{"id":"f35fd8ce5f04a4d5","type":"function","z":"e4184d8f0d35d1a2","name":"filename","func":"var filename = global.get('pro7_filename');\nif(filename === \"index.html\"){\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/\" + filename ;\n    return msg;\n}else{\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/pages/\" + filename ;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":2080,"wires":[["fd29feb5f8239692"]]},{"id":"fd29feb5f8239692","type":"file","z":"e4184d8f0d35d1a2","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1140,"y":2080,"wires":[["a4f3f4a4b8e2685f"]]},{"id":"a4f3f4a4b8e2685f","type":"link out","z":"e4184d8f0d35d1a2","name":"set_page_id","mode":"link","links":["30ad7d2320b3ed2e"],"x":1255,"y":2080,"wires":[]},{"id":"d41ea571df0a9d42","type":"function","z":"e4184d8f0d35d1a2","name":"topic","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"payload\": msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":2140,"wires":[["c822142c8eb82dad"]]},{"id":"c822142c8eb82dad","type":"link out","z":"e4184d8f0d35d1a2","name":"get_page_data_name","mode":"link","links":["30ad7d2320b3ed2e"],"x":1075,"y":2140,"wires":[]},{"id":"74064c3454da6f74","type":"function","z":"e4184d8f0d35d1a2","name":"topic","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"payload\": msg.payload,\n    \"html\": msg.html\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":2200,"wires":[["ebf70c0819d9f23f"]]},{"id":"ebf70c0819d9f23f","type":"link out","z":"e4184d8f0d35d1a2","name":"get_page_id","mode":"link","links":["30ad7d2320b3ed2e"],"x":1075,"y":2200,"wires":[]},{"id":"3fd02276f22815ac","type":"function","z":"e4184d8f0d35d1a2","name":"filename","func":"var filename = global.get('pro7_filename');\nif(filename === \"index.html\"){\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/\" + filename ;\n    return msg;\n}else{\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/pages/\" + filename ;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":2260,"wires":[["378a89ae1b5007aa"]]},{"id":"378a89ae1b5007aa","type":"file","z":"e4184d8f0d35d1a2","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1140,"y":2260,"wires":[[]]},{"id":"a2dbbc4ded302ab4","type":"link out","z":"e4184d8f0d35d1a2","name":"get_page_elements","mode":"link","links":["30ad7d2320b3ed2e"],"x":1075,"y":2320,"wires":[]},{"id":"c8567a7eeebda121","type":"function","z":"e4184d8f0d35d1a2","name":"topic","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"payload\": msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":2320,"wires":[["a2dbbc4ded302ab4"]]},{"id":"abb6a62b82ddc9ac","type":"function","z":"e4184d8f0d35d1a2","name":"update_element_id","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": topic,\n    \"element_id\": msg.element_id,\n    \"element_id_selected\": msg.element_id_selected\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":500,"wires":[["a81b659ae7a35e61"]]},{"id":"a81b659ae7a35e61","type":"link out","z":"e4184d8f0d35d1a2","name":"update_element_id_app_in","mode":"link","links":["24bccb0f6c8cbdc5"],"x":1155,"y":500,"wires":[]},{"id":"5caa9d262ef87dfd","type":"function","z":"e4184d8f0d35d1a2","name":"filename","func":"var filename = global.get('pro7_filename');\nif(filename === \"index.html\"){\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/\" + filename ;\n    return msg;\n}else{\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/pages/\" + filename ;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":2380,"wires":[["6172b8df122641e4"]]},{"id":"6172b8df122641e4","type":"file","z":"e4184d8f0d35d1a2","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1140,"y":2380,"wires":[["25561c1ac1c47513"]]},{"id":"be9b40699c385988","type":"link out","z":"e4184d8f0d35d1a2","name":"update_element_id","mode":"link","links":["30ad7d2320b3ed2e"],"x":1395,"y":2380,"wires":[]},{"id":"25561c1ac1c47513","type":"function","z":"e4184d8f0d35d1a2","name":"topic","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"payload\": msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":2380,"wires":[["be9b40699c385988"]]},{"id":"0ffd2d9576fa1893","type":"function","z":"e4184d8f0d35d1a2","name":"update_page_data_name","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"name\": msg.name,\n    \"element_id\": msg.element_id\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":560,"wires":[["52cf2f144f886dca"]]},{"id":"52cf2f144f886dca","type":"link out","z":"e4184d8f0d35d1a2","name":"update_page_name_app_in","mode":"link","links":["24bccb0f6c8cbdc5"],"x":1195,"y":560,"wires":[]},{"id":"a74c4179c9e692bb","type":"function","z":"e4184d8f0d35d1a2","name":"filename","func":"var filename = global.get('pro7_filename');\nif(filename === \"index.html\"){\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/\" + filename ;\n    return msg;\n}else{\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/pages/\" + filename ;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":2440,"wires":[["fefbf2a44faa0110"]]},{"id":"fefbf2a44faa0110","type":"file","z":"e4184d8f0d35d1a2","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1140,"y":2440,"wires":[["c31586a74442e9f4"]]},{"id":"007e484eaaa198ed","type":"link out","z":"e4184d8f0d35d1a2","name":"update_page_data_name","mode":"link","links":["30ad7d2320b3ed2e"],"x":1395,"y":2440,"wires":[]},{"id":"c31586a74442e9f4","type":"function","z":"e4184d8f0d35d1a2","name":"topic","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"payload\": msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":2440,"wires":[["007e484eaaa198ed"]]},{"id":"b6bb421a376c3fb4","type":"NetworkIntf","z":"e4184d8f0d35d1a2","name":"","x":990,"y":320,"wires":[["3e9234208ea69b84"]]},{"id":"3e9234208ea69b84","type":"function","z":"e4184d8f0d35d1a2","name":"wifi","func":"// var wifi = msg.payload.networkInterfaces[\"Wi-Fi\"][3].address;\nvar wifi = msg.payload.networkInterfaces[\"Wi-Fi\"];\nvar i = 0;\nfor (i = 0; i < wifi.length; i++){\n    if (wifi[i].family === \"IPv4\"){\n        msg.wifi = wifi[i].address;\n        \n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":320,"wires":[["b682ef8a6ca983aa"]]},{"id":"b682ef8a6ca983aa","type":"file in","z":"e4184d8f0d35d1a2","name":"","filename":"server_config.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1320,"y":320,"wires":[["b2d7747664c0228b"]]},{"id":"8087ccd2b9c49dae","type":"function","z":"e4184d8f0d35d1a2","name":"ip:port","func":"var uri = msg.wifi + ':' + msg.payload.port;\n\nmsg = {\n    \"topic\": \"get_ip_address\",\n    \"payload\": uri\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":320,"wires":[["528ff92707de2031"]]},{"id":"b2d7747664c0228b","type":"json","z":"e4184d8f0d35d1a2","name":"","property":"payload","action":"","pretty":false,"x":1490,"y":320,"wires":[["8087ccd2b9c49dae"]]},{"id":"528ff92707de2031","type":"link out","z":"e4184d8f0d35d1a2","name":"get_ip_address","mode":"link","links":["30ad7d2320b3ed2e"],"x":1745,"y":320,"wires":[]},{"id":"ea2ae3532edbaff3","type":"fs-ops-dir","z":"e4184d8f0d35d1a2","name":"","path":"./uibuilder","pathType":"str","filter":"*","filterType":"str","dir":"payload","dirType":"msg","x":980,"y":380,"wires":[["8a159090c1a38ceb"]]},{"id":"8a159090c1a38ceb","type":"function","z":"e4184d8f0d35d1a2","name":"","func":"msg = {\n    \"topic\": \"uibuilder_all\",\n    \"payload\": msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":380,"wires":[["d56c489ae3a10904"]]},{"id":"d56c489ae3a10904","type":"link out","z":"e4184d8f0d35d1a2","name":"uibuilder_all","mode":"link","links":["30ad7d2320b3ed2e"],"x":1255,"y":380,"wires":[]},{"id":"ccd3ff1524f8bfc0","type":"function","z":"e4184d8f0d35d1a2","name":"set_element_id_choosed","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"element_id\": msg.element_id\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":620,"wires":[["3e9a5390db1be664"]]},{"id":"3e9a5390db1be664","type":"link out","z":"e4184d8f0d35d1a2","name":"set_element_id_choosed_app_in","mode":"link","links":["24bccb0f6c8cbdc5"],"x":1195,"y":620,"wires":[]},{"id":"e740ec2532a3434a","type":"function","z":"e4184d8f0d35d1a2","name":"filename","func":"var filename = global.get('pro7_filename');\nif(filename === \"index.html\"){\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/\" + filename ;\n    return msg;\n}else{\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/pages/\" + filename ;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":2500,"wires":[["5a4adb5c166a93d9"]]},{"id":"5a4adb5c166a93d9","type":"file","z":"e4184d8f0d35d1a2","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1140,"y":2500,"wires":[["dc822c62cb826b9b"]]},{"id":"456226a1496fe016","type":"link out","z":"e4184d8f0d35d1a2","name":"remove_element_id","mode":"link","links":["30ad7d2320b3ed2e"],"x":1395,"y":2500,"wires":[]},{"id":"dc822c62cb826b9b","type":"function","z":"e4184d8f0d35d1a2","name":"topic","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"payload\": msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":2500,"wires":[["456226a1496fe016"]]},{"id":"4d29d098d99eb512","type":"function","z":"e4184d8f0d35d1a2","name":"element_hightlight_id","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"element_id\": msg.element_id\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":740,"wires":[["d1a7a66afc6d1a88"]]},{"id":"d1a7a66afc6d1a88","type":"link out","z":"e4184d8f0d35d1a2","name":"element_hightlight_id_app_in","mode":"link","links":["24bccb0f6c8cbdc5"],"x":1175,"y":740,"wires":[]},{"id":"c12c74fb621e5f27","type":"function","z":"e4184d8f0d35d1a2","name":"element_hightlight_id_clear","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"element_id\": msg.element_id\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":800,"wires":[["a613c66326157d97"]]},{"id":"a613c66326157d97","type":"link out","z":"e4184d8f0d35d1a2","name":"element_hightlight_id_app_in","mode":"link","links":["24bccb0f6c8cbdc5"],"x":1205,"y":800,"wires":[]},{"id":"3e1d7e8cb59d3eac","type":"function","z":"e4184d8f0d35d1a2","name":"add_element_component","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": topic,\n    \"element_id\": msg.element_id,\n    \"component\": msg.component,\n    \"action\": msg.action\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":860,"wires":[["8b23b7066b1e66f5"]]},{"id":"8b23b7066b1e66f5","type":"link out","z":"e4184d8f0d35d1a2","name":"add_element_component_app_in","mode":"link","links":["24bccb0f6c8cbdc5"],"x":1195,"y":860,"wires":[]},{"id":"c493c6df62a1b4f0","type":"function","z":"e4184d8f0d35d1a2","name":"filename","func":"var filename = global.get('pro7_filename');\nif(filename === \"index.html\"){\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/\" + filename ;\n    return msg;\n}else{\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/pages/\" + filename ;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":2560,"wires":[["cb82db828a8b571b"]]},{"id":"cb82db828a8b571b","type":"file","z":"e4184d8f0d35d1a2","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1140,"y":2560,"wires":[["9becffc7eded947a"]]},{"id":"9becffc7eded947a","type":"function","z":"e4184d8f0d35d1a2","name":"topic","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"payload\": msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":2560,"wires":[["1a76956aa9fc747b"]]},{"id":"1a76956aa9fc747b","type":"link out","z":"e4184d8f0d35d1a2","name":"add_element_component","mode":"link","links":["30ad7d2320b3ed2e"],"x":1395,"y":2560,"wires":[]},{"id":"403eabc868385ab3","type":"function","z":"e4184d8f0d35d1a2","name":"add_element_component_reload","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": topic\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":920,"wires":[["0a789518eea47699"]]},{"id":"0a789518eea47699","type":"link out","z":"e4184d8f0d35d1a2","name":"add_element_component_app_in","mode":"link","links":["24bccb0f6c8cbdc5"],"x":1255,"y":920,"wires":[]},{"id":"5d7c598dc755edbc","type":"function","z":"e4184d8f0d35d1a2","name":"filename","func":"var filename = global.get('pro7_filename');\nif(filename === \"index.html\"){\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/\" + filename ;\n    return msg;\n}else{\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/pages/\" + filename ;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":980,"wires":[["7c3e6582de4eccaa"]]},{"id":"7c3e6582de4eccaa","type":"file","z":"e4184d8f0d35d1a2","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1140,"y":980,"wires":[["2015c110b8bddd6b"]]},{"id":"2015c110b8bddd6b","type":"link out","z":"e4184d8f0d35d1a2","name":"code_save","mode":"link","links":["30ad7d2320b3ed2e"],"x":1255,"y":980,"wires":[]},{"id":"83a2cdd3f73e91c1","type":"function","z":"e4184d8f0d35d1a2","name":"page_create","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": topic,\n    \"name\": msg.name\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":1040,"wires":[["c0db3e08b06f96b6"]]},{"id":"c0db3e08b06f96b6","type":"link out","z":"e4184d8f0d35d1a2","name":"add_element_component_app_in","mode":"link","links":["24bccb0f6c8cbdc5"],"x":1115,"y":1040,"wires":[]},{"id":"4f0313cfbd34eb9f","type":"function","z":"e4184d8f0d35d1a2","name":"filename","func":"msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/pages/\" + msg.name;\nmsg.payload = msg.code;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":2800,"wires":[["967caf5f63eb32ce"]]},{"id":"967caf5f63eb32ce","type":"file","z":"e4184d8f0d35d1a2","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1140,"y":2800,"wires":[["fb44038cca1e2d26"]]},{"id":"fb44038cca1e2d26","type":"function","z":"e4184d8f0d35d1a2","name":"topic","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"name\": msg.name,\n    \"page_name\": msg.page_name\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":2800,"wires":[["0a91c2bc2fd7f284"]]},{"id":"0a91c2bc2fd7f284","type":"link out","z":"e4184d8f0d35d1a2","name":"page_create","mode":"link","links":["30ad7d2320b3ed2e"],"x":1395,"y":2800,"wires":[]},{"id":"3e2925d2fa843b23","type":"function","z":"e4184d8f0d35d1a2","name":"routes.js","func":"msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/js/routes.js\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":2620,"wires":[["cfaf325d5c9ce7d6"]]},{"id":"cfaf325d5c9ce7d6","type":"file in","z":"e4184d8f0d35d1a2","name":"routes.js","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1140,"y":2620,"wires":[["4967591bde17afc1"]]},{"id":"4967591bde17afc1","type":"function","z":"e4184d8f0d35d1a2","name":"routes","func":"var data = msg.payload;\nvar data_clean_1 = data.replace('var routes', '');\nvar data_clean_2 = data_clean_1.replace('=', '');\nvar data_clean_3 = data_clean_2.replace(';', '');\nvar data_clean_4 = data_clean_3.replace(/url/g, '\"url\"');\nvar data_clean_5 = data_clean_4.replace(/path/g, '\"path\"');\nvar data_clean_6 = data_clean_5.replace(/'/g, '\"');\n\nmsg.payload = data_clean_6;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":2620,"wires":[["3030c7c0400fd0de"]]},{"id":"3030c7c0400fd0de","type":"json","z":"e4184d8f0d35d1a2","name":"","property":"payload","action":"","pretty":false,"x":1430,"y":2620,"wires":[["3f1b959932d7bc91"]]},{"id":"3f1b959932d7bc91","type":"function","z":"e4184d8f0d35d1a2","name":"new_route","func":"var routes = msg.payload;\n\nvar find = 0;\n\nvar i = 0;\nfor (i = 0; i < routes.length; i++) {\n    var page_name = routes[i].path.split('/');\n    if (page_name[1] === msg.page_name) {\n        find = 1;        \n    }\n}\n\nif (find === 1){\n    return [msg, null];\n} else {\n    routes.splice(routes.length-1);\n            \n    routes.push({\n        path: '/' + msg.page_name + '/',\n        url: './pages/' + msg.name\n    });\n        \n    routes.push({\n        path: '(.*)',\n        url: './pages/404.html'\n    });\n    \n    return [null, msg];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":2680,"wires":[["2f5a9a0e787c2bdf"],["a29a51de689203eb"]]},{"id":"1d01bf65634f3cd3","type":"function","z":"e4184d8f0d35d1a2","name":"routes.js","func":"var routes = msg.payload;\nvar routes_path = routes.replace(/\"path\"/g, 'path');\nvar routes_url = routes_path.replace(/\"url\"/g, 'url');\n\nmsg.payload = \"var routes = \" + routes_url + \";\";\nmsg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/js/routes.js\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":2740,"wires":[["815afd489692cfb3"]]},{"id":"a29a51de689203eb","type":"json","z":"e4184d8f0d35d1a2","name":"","property":"payload","action":"str","pretty":false,"x":1150,"y":2740,"wires":[["1d01bf65634f3cd3"]]},{"id":"815afd489692cfb3","type":"file","z":"e4184d8f0d35d1a2","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1460,"y":2740,"wires":[["4f0313cfbd34eb9f"]]},{"id":"2f5a9a0e787c2bdf","type":"function","z":"e4184d8f0d35d1a2","name":"topic","func":"msg = {\n    \"topic\": \"page_create_canceled\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":2680,"wires":[["6aac1e18358d4e2c"]]},{"id":"6aac1e18358d4e2c","type":"link out","z":"e4184d8f0d35d1a2","name":"add_element_component","mode":"link","links":["30ad7d2320b3ed2e"],"x":1255,"y":2680,"wires":[]},{"id":"3b9506d8f1c7a0b0","type":"function","z":"e4184d8f0d35d1a2","name":"page_remove","func":"var topic = msg.topic;\n\nmsg = {\n    \"path\": \"uibuilder/\" + global.get('pro7_app_name') + \"/src/pages/\",\n    \"filename\": global.get('pro7_filename')\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":1160,"wires":[["da08ad55aa6ab21b"]]},{"id":"13f77ea9a13d5f54","type":"link out","z":"e4184d8f0d35d1a2","name":"page_remove","mode":"link","links":["30ad7d2320b3ed2e"],"x":1775,"y":1160,"wires":[]},{"id":"da08ad55aa6ab21b","type":"fs-ops-delete","z":"e4184d8f0d35d1a2","name":"","path":"path","pathType":"msg","filename":"filename","filenameType":"msg","x":1510,"y":1160,"wires":[["7d7b894e3942253f"]]},{"id":"6eb0af37eea16af5","type":"function","z":"e4184d8f0d35d1a2","name":"routes.js","func":"msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/js/routes.js\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":1100,"wires":[["107f5c45b5518a7f"]]},{"id":"107f5c45b5518a7f","type":"file in","z":"e4184d8f0d35d1a2","name":"routes.js","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1140,"y":1100,"wires":[["75029f72de51e04e"]]},{"id":"75029f72de51e04e","type":"function","z":"e4184d8f0d35d1a2","name":"routes","func":"var data = msg.payload;\nvar data_clean_1 = data.replace('var routes', '');\nvar data_clean_2 = data_clean_1.replace('=', '');\nvar data_clean_3 = data_clean_2.replace(';', '');\nvar data_clean_4 = data_clean_3.replace(/url/g, '\"url\"');\nvar data_clean_5 = data_clean_4.replace(/path/g, '\"path\"');\nvar data_clean_6 = data_clean_5.replace(/'/g, '\"');\n\nmsg.payload = data_clean_6;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":1100,"wires":[["13e752196d7801bf"]]},{"id":"13e752196d7801bf","type":"json","z":"e4184d8f0d35d1a2","name":"","property":"payload","action":"","pretty":false,"x":1430,"y":1100,"wires":[["a29855321e027bb5"]]},{"id":"a29855321e027bb5","type":"function","z":"e4184d8f0d35d1a2","name":"new_route","func":"var routes = msg.payload;\n\n// var find = 0;\n// var find_index = null;\n\nvar i = 0;\nfor (i = 0; i < routes.length; i++) {\n    if (routes[i].url === \"./pages/\" + global.get(\"pro7_filename\")) {\n        // msg.path = routes[i].url;\n        // msg.paths = \"./pages/\" + global.get(\"pro7_filename\");\n        // find = 1;        \n        // find_index = i;\n        \n        routes.splice(i, 1);\n    }\n}\n\nreturn msg;\n\n// if (find === 1){\n//     return [msg, null];\n// } else {\n//     routes.splice(routes.length-1);\n            \n//     routes.push({\n//         path: '/' + msg.page_name + '/',\n//         url: './pages/' + msg.name\n//     });\n        \n//     routes.push({\n//         path: '(.*)',\n//         url: './pages/404.html'\n//     });\n    \n//     return [null, msg];\n// }","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":1100,"wires":[["5a79759a0061c105"]]},{"id":"5a79759a0061c105","type":"json","z":"e4184d8f0d35d1a2","name":"","property":"payload","action":"str","pretty":false,"x":1750,"y":1100,"wires":[["481d93d9154075fe"]]},{"id":"481d93d9154075fe","type":"function","z":"e4184d8f0d35d1a2","name":"routes.js","func":"var routes = msg.payload;\nvar routes_path = routes.replace(/\"path\"/g, 'path');\nvar routes_url = routes_path.replace(/\"url\"/g, 'url');\n\nmsg.payload = \"var routes = \" + routes_url + \";\";\nmsg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/js/routes.js\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":1160,"wires":[["7c6ceb75d39bbe78"]]},{"id":"7c6ceb75d39bbe78","type":"file","z":"e4184d8f0d35d1a2","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1140,"y":1160,"wires":[["3b9506d8f1c7a0b0"]]},{"id":"7d7b894e3942253f","type":"function","z":"e4184d8f0d35d1a2","name":"topic","func":"msg = {\n    \"topic\": \"page_remove\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":1160,"wires":[["13f77ea9a13d5f54"]]},{"id":"3a3cbd98a2892376","type":"function","z":"e4184d8f0d35d1a2","name":"get_element_class","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": topic,\n    \"element_id\": msg.element_id\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":1220,"wires":[["5b23b9b603010d3b"]]},{"id":"5b23b9b603010d3b","type":"link out","z":"e4184d8f0d35d1a2","name":"get_element_class_app_in","mode":"link","links":["24bccb0f6c8cbdc5"],"x":1155,"y":1220,"wires":[]},{"id":"9224a28a5401bbfb","type":"link out","z":"e4184d8f0d35d1a2","name":"get_element_class","mode":"link","links":["30ad7d2320b3ed2e"],"x":1075,"y":2860,"wires":[]},{"id":"524db0c6ddec7a01","type":"function","z":"e4184d8f0d35d1a2","name":"topic","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"payload\": msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":2860,"wires":[["9224a28a5401bbfb"]]},{"id":"a29c5b6b34ffb12f","type":"function","z":"e4184d8f0d35d1a2","name":"class_remove","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": topic,\n    \"element_id\": msg.element_id,\n    \"class_name\": msg.class_name\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1280,"wires":[["0b6994191c2b2d6c"]]},{"id":"0b6994191c2b2d6c","type":"link out","z":"e4184d8f0d35d1a2","name":"class_remove_app_in","mode":"link","links":["24bccb0f6c8cbdc5"],"x":1135,"y":1280,"wires":[]},{"id":"74ccc400fd138a89","type":"function","z":"e4184d8f0d35d1a2","name":"filename","func":"var filename = global.get('pro7_filename');\nif(filename === \"index.html\"){\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/\" + filename ;\n    return msg;\n}else{\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/pages/\" + filename ;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":2920,"wires":[["b2cf6665a2481dab"]]},{"id":"b2cf6665a2481dab","type":"file","z":"e4184d8f0d35d1a2","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1140,"y":2920,"wires":[["7fd9a766e2a022a1"]]},{"id":"7fd9a766e2a022a1","type":"function","z":"e4184d8f0d35d1a2","name":"topic","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"element_id\": msg.element_id\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":2920,"wires":[["e7d69605420da2be"]]},{"id":"e7d69605420da2be","type":"link out","z":"e4184d8f0d35d1a2","name":"class_remove","mode":"link","links":["30ad7d2320b3ed2e"],"x":1395,"y":2920,"wires":[]},{"id":"a6b1accabce7b73e","type":"function","z":"e4184d8f0d35d1a2","name":"class_add","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": topic,\n    \"element_id\": msg.element_id,\n    \"class_name\": msg.class_name\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":1340,"wires":[["495062856cd928a1"]]},{"id":"495062856cd928a1","type":"link out","z":"e4184d8f0d35d1a2","name":"class_add_app_in","mode":"link","links":["24bccb0f6c8cbdc5"],"x":1095,"y":1340,"wires":[]},{"id":"e191170ace5ab1d4","type":"function","z":"e4184d8f0d35d1a2","name":"filename","func":"var filename = global.get('pro7_filename');\nif(filename === \"index.html\"){\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/\" + filename ;\n    return msg;\n}else{\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/pages/\" + filename ;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":2980,"wires":[["575f0921032167a9"]]},{"id":"575f0921032167a9","type":"file","z":"e4184d8f0d35d1a2","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1140,"y":2980,"wires":[["4b67a439bc7282ea"]]},{"id":"4b67a439bc7282ea","type":"function","z":"e4184d8f0d35d1a2","name":"topic","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"element_id\": msg.element_id\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":2980,"wires":[["8267559fb8a47dad"]]},{"id":"8267559fb8a47dad","type":"link out","z":"e4184d8f0d35d1a2","name":"class_add","mode":"link","links":["30ad7d2320b3ed2e"],"x":1395,"y":2980,"wires":[]},{"id":"a521d47579574318","type":"function","z":"e4184d8f0d35d1a2","name":"get_element_style","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": topic,\n    \"element_id\": msg.element_id\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":1400,"wires":[["3aa93b74e87b6f10"]]},{"id":"3aa93b74e87b6f10","type":"link out","z":"e4184d8f0d35d1a2","name":"get_element_style_app_in","mode":"link","links":["24bccb0f6c8cbdc5"],"x":1155,"y":1400,"wires":[]},{"id":"47e8fcbe705d986c","type":"link out","z":"e4184d8f0d35d1a2","name":"get_element_style","mode":"link","links":["30ad7d2320b3ed2e"],"x":1075,"y":3040,"wires":[]},{"id":"98257878fc864243","type":"function","z":"e4184d8f0d35d1a2","name":"topic","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"payload\": msg.payload,\n    \"element_id\": msg.element_id\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":3040,"wires":[["47e8fcbe705d986c"]]},{"id":"f871ab7dc093f2e4","type":"function","z":"e4184d8f0d35d1a2","name":"update_element_style","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": topic,\n    \"element_id\": msg.element_id,\n    \"element_css\": msg.element_css\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":1460,"wires":[["e414db521db8a0cb"]]},{"id":"e414db521db8a0cb","type":"link out","z":"e4184d8f0d35d1a2","name":"update_element_style_app_in","mode":"link","links":["24bccb0f6c8cbdc5"],"x":1175,"y":1460,"wires":[]},{"id":"2cbdc09050ba1346","type":"function","z":"e4184d8f0d35d1a2","name":"filename","func":"var filename = global.get('pro7_filename');\nif(filename === \"index.html\"){\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/\" + filename ;\n    return msg;\n}else{\n    msg.filename = \"uibuilder/\" + global.get('pro7_app_name') + \"/src/pages/\" + filename ;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":3100,"wires":[["177594077dfbf2e8"]]},{"id":"177594077dfbf2e8","type":"file","z":"e4184d8f0d35d1a2","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1140,"y":3100,"wires":[["2d94964de3efee30"]]},{"id":"284aba89cf587609","type":"link out","z":"e4184d8f0d35d1a2","name":"update_element_style","mode":"link","links":["30ad7d2320b3ed2e"],"x":1395,"y":3100,"wires":[]},{"id":"2d94964de3efee30","type":"function","z":"e4184d8f0d35d1a2","name":"topic","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": msg.topic,\n    \"payload\": msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":3100,"wires":[["284aba89cf587609"]]},{"id":"96c8da8dc425aa8c","type":"function","z":"e4184d8f0d35d1a2","name":"app_name","func":"global.set('pro7_app_name', msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":1520,"wires":[["d20f35634ab55497"]]},{"id":"d20f35634ab55497","type":"link out","z":"e4184d8f0d35d1a2","name":"set_app_name","mode":"link","links":["30ad7d2320b3ed2e"],"x":1115,"y":1520,"wires":[]},{"id":"e88f400e54831007","type":"function","z":"e4184d8f0d35d1a2","name":"get_app_pages","func":"var topic = msg.topic;\n\nmsg = {\n    \"topic\": topic,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1580,"wires":[["afd38f57df688226"]]},{"id":"afd38f57df688226","type":"link out","z":"e4184d8f0d35d1a2","name":"get_app_pages_app_in","mode":"link","links":["24bccb0f6c8cbdc5"],"x":1135,"y":1580,"wires":[]},{"id":"abc04adffe94a0be","type":"fs-ops-dir","z":"e4184d8f0d35d1a2","name":"","path":"uibuilder/example/src","pathType":"str","filter":"*","filterType":"str","dir":"files","dirType":"msg","x":1120,"y":220,"wires":[["86a181c2644dd625"]]},{"id":"afc4e1f6ccd83e27","type":"inject","z":"e4184d8f0d35d1a2","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","x":970,"y":220,"wires":[["abc04adffe94a0be"]]},{"id":"86a181c2644dd625","type":"function","z":"e4184d8f0d35d1a2","name":"if example installed","func":"var total_file = msg.files.length;\n\nif(total_file === 3){\n  return [msg, null];  \n}else{\n  return [null, msg]; \n}\n\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":220,"wires":[["31ef016c047f9334"],["33d9d373c9f7af39"]]},{"id":"33d9d373c9f7af39","type":"debug","z":"e4184d8f0d35d1a2","d":true,"name":"Do Nothing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":260,"wires":[]},{"id":"fee3560dc7742525","type":"fs-extra-copy","z":"e4184d8f0d35d1a2","name":"","source":"resources/app/uibuilder/example/src/","sourceType":"str","target":"uibuilder/example/src/","targetType":"str","x":2070,"y":220,"wires":[[]]},{"id":"0563a9b4c55618ad","type":"fs-ops-delete","z":"e4184d8f0d35d1a2","name":"del index.html","path":"uibuilder/example/src","pathType":"str","filename":"index.html","filenameType":"str","x":1880,"y":220,"wires":[["fee3560dc7742525"]]},{"id":"a70ee579c1e1db1c","type":"fs-ops-delete","z":"e4184d8f0d35d1a2","name":"del index.js","path":"uibuilder/example/src","pathType":"str","filename":"index.js","filenameType":"str","x":1690,"y":220,"wires":[["0563a9b4c55618ad"]]},{"id":"31ef016c047f9334","type":"fs-ops-delete","z":"e4184d8f0d35d1a2","name":"del index.css","path":"uibuilder/example/src","pathType":"str","filename":"index.css","filenameType":"str","x":1510,"y":220,"wires":[["a70ee579c1e1db1c"]]},{"id":"078c901aa2ca3cd1","type":"uibuilder","z":"e4184d8f0d35d1a2","name":"","topic":"","url":"example","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"templateFolder":"blank","extTemplate":"","showfolder":false,"reload":false,"sourceFolder":"src","deployedVersion":"5.0.2","x":1970,"y":420,"wires":[["45bfc5e78c9ac616"],[]]},{"id":"45bfc5e78c9ac616","type":"link out","z":"e4184d8f0d35d1a2","name":"out_example","mode":"link","links":["e3679c59441f138c"],"x":2115,"y":420,"wires":[]},{"id":"0969981c4518d095","type":"fs-ops-dir","z":"e4184d8f0d35d1a2","name":"","path":"uibuilder/pro/src","pathType":"str","filter":"*","filterType":"str","dir":"files","dirType":"msg","x":1120,"y":120,"wires":[["310e54e228867862"]]},{"id":"58656db33e58b27f","type":"inject","z":"e4184d8f0d35d1a2","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","x":970,"y":120,"wires":[["0969981c4518d095"]]},{"id":"310e54e228867862","type":"function","z":"e4184d8f0d35d1a2","name":"if pro installed","func":"var total_file = msg.files.length;\n\nif(total_file === 3){\n  return [msg, null];  \n}else{\n  return [null, msg]; \n}\n\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":120,"wires":[["c6afe992056f9489"],["81994c3e932ceb38"]]},{"id":"81994c3e932ceb38","type":"debug","z":"e4184d8f0d35d1a2","d":true,"name":"Do Nothing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1490,"y":160,"wires":[]},{"id":"03357cb4729199ec","type":"fs-extra-copy","z":"e4184d8f0d35d1a2","name":"","source":"resources/app/uibuilder/pro/src/","sourceType":"str","target":"uibuilder/pro/src/","targetType":"str","x":2050,"y":120,"wires":[[]]},{"id":"0d95975d6baa3d43","type":"fs-ops-delete","z":"e4184d8f0d35d1a2","name":"del index.html","path":"uibuilder/pro/src","pathType":"str","filename":"index.html","filenameType":"str","x":1860,"y":120,"wires":[["03357cb4729199ec"]]},{"id":"4092c3ba2316161a","type":"fs-ops-delete","z":"e4184d8f0d35d1a2","name":"del index.js","path":"uibuilder/pro/src","pathType":"str","filename":"index.js","filenameType":"str","x":1670,"y":120,"wires":[["0d95975d6baa3d43"]]},{"id":"c6afe992056f9489","type":"fs-ops-delete","z":"e4184d8f0d35d1a2","name":"del index.css","path":"uibuilder/pro/src","pathType":"str","filename":"index.css","filenameType":"str","x":1490,"y":120,"wires":[["4092c3ba2316161a"]]},{"id":"6fc6c4261b487245","type":"http request","z":"e4184d8f0d35d1a2","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"localhost:1880/red/auth/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1190,"y":1640,"wires":[["030922193dc58dd0"]]},{"id":"6cc8d5d952fb5a19","type":"function","z":"e4184d8f0d35d1a2","name":"request token","func":"msg.payload = {\n    \"client_id\": \"node-red-admin\",\n    \"grant_type\": \"password\",\n    \"scope\": \"*\",\n    \"username\": \"admin\",\n    \"password\": \"admin\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1640,"wires":[["6fc6c4261b487245"]]},{"id":"030922193dc58dd0","type":"json","z":"e4184d8f0d35d1a2","name":"","property":"payload","action":"","pretty":false,"x":1350,"y":1640,"wires":[["4730f4646a0388c9"]]},{"id":"4730f4646a0388c9","type":"function","z":"e4184d8f0d35d1a2","name":"set global context","func":"global.set(\"access_token\", msg.payload.access_token);\nglobal.set(\"token_type\", msg.payload.token_type);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":1640,"wires":[["69d82c81955f807e"]]},{"id":"c4a38d1e450482de","type":"function","z":"e4184d8f0d35d1a2","name":"create new app","func":"var chars = '0123456789abcdefghijklmnopqrstuvwxyz';\n\nvar string_randomizer = function(length, chars) {\n    var result = '';\n    for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];\n    return result;\n}\n\nvar uibuilder_id = string_randomizer(16, chars);\nvar app_link_out_id = string_randomizer(16, chars);\n\nmsg.headers = {\n    Authorization: global.get(\"token_type\") + \" \" + global.get(\"access_token\")\n}\n\nmsg.payload = {\n    // \"id\": \"7\",\n    \"label\": msg.app_name,\n    \"nodes\": [\n        {\n            \"id\": uibuilder_id,\n            \"type\": \"uibuilder\",\n            \"name\": \"\",\n            \"topic\": \"\",\n            \"url\": msg.app_name,\n            \"fwdInMessages\": false,\n            \"allowScripts\": false,\n            \"allowStyles\": false,\n            \"copyIndex\": true,\n            \"templateFolder\": \"blank\",\n            \"extTemplate\": \"\",\n            \"showfolder\": false,\n            \"oldUrl\": \"editor\",\n            \"reload\": false,\n            \"sourceFolder\": \"src\",\n            \"deployedVersion\": \"5.0.1\",\n            \"x\": 290,\n            \"y\": 220,\n            \"wires\": [\n                [\n                    app_link_out_id\n                ],\n                []\n            ]\n        },\n        {\n            \"id\": string_randomizer(16, chars),\n            \"type\": \"link in\",\n            \"name\": \"in_app\",\n            \"links\": msg.link_out.links,\n            \"x\": 155,\n            \"y\": 220,\n            \"wires\": [\n                [\n                    uibuilder_id\n                ]\n            ]\n        },\n        {\n            \"id\": app_link_out_id,\n            \"type\": \"link out\",\n            \"name\": \"out_app\",\n            \"mode\": \"link\",\n            \"links\": [\n                msg.link_in.links\n            ],\n            \"x\": 425,\n            \"y\": 220,\n            \"wires\": []\n        }\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1760,"wires":[["c9c412cb3367c11f"]]},{"id":"c9c412cb3367c11f","type":"http request","z":"e4184d8f0d35d1a2","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"localhost:1880/red/flow","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1190,"y":1760,"wires":[["afc480a341be2a52"]]},{"id":"f1c902a0f3a92ef6","type":"http request","z":"e4184d8f0d35d1a2","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"localhost:1880/red/flows","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1170,"y":1700,"wires":[["b4589daa285352b2"]]},{"id":"69d82c81955f807e","type":"function","z":"e4184d8f0d35d1a2","name":"get all nodes","func":"msg.headers = {\n    Authorization: global.get(\"token_type\") + \" \" + global.get(\"access_token\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":1700,"wires":[["f1c902a0f3a92ef6"]]},{"id":"b4589daa285352b2","type":"json","z":"e4184d8f0d35d1a2","name":"","property":"payload","action":"","pretty":false,"x":1330,"y":1700,"wires":[["02622291d2e1a2d0"]]},{"id":"02622291d2e1a2d0","type":"function","z":"e4184d8f0d35d1a2","name":"get links in and out","func":"var link_in = [];\nvar link_out = [];\n\nvar i = 0;\nfor (i = 0; i < msg.payload.length; i++){\n    if(msg.payload[i].type === \"link out\" && msg.payload[i].name === \"page_navigate_app_in\"){\n        link_out.push(msg.payload[i].id);\n    }\n    \n    if(msg.payload[i].type === \"link out\" && msg.payload[i].name === \"update_element_id_app_in\"){\n        link_out.push(msg.payload[i].id);\n    }\n    \n    if(msg.payload[i].type === \"link out\" && msg.payload[i].name === \"update_page_name_app_in\"){\n        link_out.push(msg.payload[i].id);\n    }\n    \n    if(msg.payload[i].type === \"link out\" && msg.payload[i].name === \"set_element_id_choosed_app_in\"){\n        link_out.push(msg.payload[i].id);\n    }\n    \n    if(msg.payload[i].type === \"link out\" && msg.payload[i].name === \"remove_element_id_app_in\"){\n        link_out.push(msg.payload[i].id);\n    }\n    \n    if(msg.payload[i].type === \"link out\" && msg.payload[i].name === \"element_hightlight_id_app_in\"){\n        link_out.push(msg.payload[i].id);\n    }\n    \n    if(msg.payload[i].type === \"link out\" && msg.payload[i].name === \"add_element_component_app_in\"){\n        link_out.push(msg.payload[i].id);\n    }\n    \n    if(msg.payload[i].type === \"link out\" && msg.payload[i].name === \"get_element_class_app_in\"){\n        link_out.push(msg.payload[i].id);\n    }\n    \n    if(msg.payload[i].type === \"link out\" && msg.payload[i].name === \"class_remove_app_in\"){\n        link_out.push(msg.payload[i].id);\n    }\n    \n    if(msg.payload[i].type === \"link out\" && msg.payload[i].name === \"class_add_app_in\"){\n        link_out.push(msg.payload[i].id);\n    }\n    \n    if(msg.payload[i].type === \"link out\" && msg.payload[i].name === \"get_element_style_app_in\"){\n        link_out.push(msg.payload[i].id);\n    }\n    \n    if(msg.payload[i].type === \"link out\" && msg.payload[i].name === \"update_element_style_app_in\"){\n        link_out.push(msg.payload[i].id);\n    }\n    \n    if(msg.payload[i].type === \"link out\" && msg.payload[i].name === \"get_app_pages_app_in\"){\n        link_out.push(msg.payload[i].id);\n    }\n    \n    if(msg.payload[i].type === \"link in\" && msg.payload[i].name === \"in_app_worker\"){\n        link_in.push(msg.payload[i].id);\n    }\n}\n\nmsg.link_out = {\n    \"links\": link_out   \n}\n\nmsg.link_in = {\n    \"links\": link_in\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":1700,"wires":[["c4a38d1e450482de"]]},{"id":"d4706228ed5d5436","type":"fs-extra-copy","z":"e4184d8f0d35d1a2","name":"","source":"resources/app/template/blank/","sourceType":"str","target":"app_source","targetType":"msg","x":990,"y":1820,"wires":[["1acfc3740d47cf58","df38f1b786af5ca5"]]},{"id":"afc480a341be2a52","type":"link out","z":"e4184d8f0d35d1a2","name":"add_new_app","mode":"link","links":["30ad7d2320b3ed2e"],"x":1315,"y":1760,"wires":[]},{"id":"1acfc3740d47cf58","type":"link out","z":"e4184d8f0d35d1a2","name":"copy_template_blank","mode":"link","links":["30ad7d2320b3ed2e"],"x":1115,"y":1820,"wires":[]},{"id":"ec906f5f9b7704a6","type":"fs-ops-delete","z":"e4184d8f0d35d1a2","name":"del index.css","path":"remove_path","pathType":"msg","filename":"index.css","filenameType":"str","x":1430,"y":1800,"wires":[[]]},{"id":"df38f1b786af5ca5","type":"function","z":"e4184d8f0d35d1a2","name":"remove_path","func":"msg.remove_path = \"uibuilder/\" + msg.app_name + \"/src\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":1820,"wires":[["ec906f5f9b7704a6","eb7ba778f3592bb8","d69d635538cfaea1"]]},{"id":"eb7ba778f3592bb8","type":"fs-ops-delete","z":"e4184d8f0d35d1a2","name":"del index.js","path":"remove_path","pathType":"msg","filename":"index.js","filenameType":"str","x":1430,"y":1840,"wires":[[]]},{"id":"03e4d852145abe85","type":"http request","z":"e4184d8f0d35d1a2","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"localhost:1880/red/flows","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1790,"y":1820,"wires":[[]]},{"id":"d69d635538cfaea1","type":"function","z":"e4184d8f0d35d1a2","name":"get all nodes","func":"msg.headers = {};\nmsg.headers['Authorization'] = global.get(\"token_type\") + \" \" + global.get(\"access_token\");\nmsg.headers['Node-RED-API-Version'] = 'v2';\nmsg.headers['Node-RED-Deployment-Type'] = 'reload';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":1820,"wires":[["03e4d852145abe85"]]}]